@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.heading {
  background: linear-gradient(263.24deg, rgb(205, 19, 205) 21.05%, #4646f9 77.63%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
